@import '~antd/dist/antd.css';
* {
  box-sizing: border-box;
}

html,
body,
.app,
.app > .ant-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main__content {
  background: #fff;
  padding: 24px;
  margin: 0;
  position: relative;
}

.main__header-text {
  margin-left: 16px;
  display: inline-block;
}

.main__split-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main__split-panel-row {
  flex: auto;
  align-items: stretch;
}

.main__split-panel-col {
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.main__split-panel-box {
  background: #fff;
  flex: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.main__split-panel-title {
  margin: 0;
  text-align: center;
}

.main__split-panel-icon-btn {
  float: right;
}

.main__split-panel-divider {
  margin: 16px 0;
}

.main__split-panel-content {
  overflow-x: hidden;
  overflow-y: auto;
  flex: auto;
}

.main__split-panel-content.active {
  background: #e9e9e9;
}

.task-card {
  margin-bottom: 8px;
}

.task-card .ant-card-head {
  cursor: move;
}

.task-card__due-date {
  margin-left: 10px;
  font-size: 12px;
  color: #c0c0c0;
  font-weight: 300;
}

// Temp fix
.ant-drawer-close {
  background: #fff;
  height: 54px;
  width: 54px;
}
